name: bottom_bars
description: A easier way to create bottom bars in Flutter.
version: 1.1.0
author: Eduardo Natale Costa<eduardonatale281201@gmail.com>
homepage: https://github.com/EduardoNatale/bottom-bars

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
